body {
    display: flex;
    justify-content: center;
    
}

.todo-panel {
    width: 30em;
    min-height: 20em;
    margin-top: 5em;

    border: 1px solid rgb(238, 238, 238);
    box-shadow: 4px 6px 6px rgb(2, 0, 7);
}

.todo-editor{
    padding: 5px 20px;
    display: flex;
}

.todo-editor input {
    flex-grow: 1;
    font-size: 1.2em;
}

.todo-items {
    padding: 5px 20px;
}

.todo-items > .task {
    display: flex;
    align-items: center;
}

.todo-items > .task > input {
    width: 1.5em;
    height: 1.5em;
}

.todo-items > .task > label {
    flex-grow: 1;
}
    
.todo-items .ctrlbar > button {
    border: red;
    background: none;
    color: rgb(111, 0, 255);
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled {
    color: rgb(128, 128, 128);
}

.todo-items .ctrlbar > button:disabled:hover {
    font-weight: unset;
}

.todo-items .ctrlbar > button:hover {
    font-weight: bolder;
}

.task.done > label {
    text-decoration: line-through;
    color:red;
}